.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 900px; /* Tamaño del carrusel */
    margin: 0 auto;
  }
  
  .carousel-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .carousel-button.prev {
    left: 0;
  }
  
  .carousel-button.next {
    right: 0;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  