.home-container {
  text-align: center;
  padding: 20px;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cards-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cards-section .card {
  width: 300px; /* Ajusta el tamaño de las cards */
}

.carousel {
  width: 500px; /* Ajusta el tamaño del carrusel */
}
