:root {
    --colorPrincipal: #333;
    --colorSecundario: #666;
    --colorTerciario: #999;
    --colorFondo: #f4f4f4;
    --colorTextoNormal: #000;
    --colorTextoPie: #777;
    --colorFondoCebra: #eee;
    --colorCabeceraTabla: #222;
  }
  